<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBToPM57Szol2WbW1iLCpCmA3_xx8zhYM</string>
	<key>GCM_SENDER_ID</key>
	<string>227452934158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreDatabase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>firestore-database-eg</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-database-eg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227452934158:ios:938119d7e2361d36e5c45f</string>
</dict>
</plist>